

<div class="row">
 <div class="col-sm-6">
   <div class="form-group">
     <label class="col-sm-4 control-label" for="">会社名</label>
      <div class="col-sm-8">
         <%= form_tag(search_customers_path,:method => 'get') do %>
         <%= text_field_tag :search %>
         
         
         <div class="col-sm-12 row text-center">
          <%= link_to customers_path, class: 'btn btn-default btn-left' do %>クリア<% end %>
          <%= submit_tag 'Search', :name => nil , class: 'btn btn-default btn-primary' %>
         <% end %>
         
        </div>
      </div>
  </div>
 </div>

</div>







<% 
=begin 
%>
複数行コメント
<%= form_tag(search_customers_path,:method => 'get') do %>
<%= text_field_tag :search %>
<%= submit_tag 'Search', :name => nil %>

<% end %>

<%
=end
%>








