<h1>顧客情報一覧</h1>

<ul>
  <% @customers.each do |customer| %>
   <li><%= link_to customer.id, customer %> : <%= customer.company %></li>
   <li><%= customer.phone %></li>
   <li><%= customer.server %></li>
   <li><%= customer.remark %></li>
 <% end %>
</ul>


<%= link_to "会社登録", new_customer_path %>