<h1>顧客管理DB</h1>

<% if @customers %>
  <% @customers.each do |customer| %>
     <li><%= link_to customer.id, customer %> : <%= customer.company %></li>
     <li><%= customer.phone %></li>
     <li><%= customer.server %></li>
     <li><%= customer.remark %></li>
  <% end %>
<% end %>


<%= link_to "会社登録", new_customer_path %>
<p>search</p>