<h1>会社情報</h1>

<h1><%# logger.debug(@customers.inspect) %></h1>

<% if @customers %>
  <% @customers.each do |customer| %>
     <li><%= link_to customer.id, customer %> : <%= customer.company %></li>
     <li><%= customer.phone %></li>
     <li><%= customer.server %></li>
     <li><%= customer.remark %></li>

  <% end %>
<% end %>


<%= link_to "csv出力", csv_output_customers_path(format: :csv) %> 
 <%#= link_to "csv出力", csv_output_customers_path(@customers, format: :csv) %> 

<%= link_to "検索画面に戻る", customers_path %>

<% 
=begin 
%>
複数行コメント
<% if @customers %>
  <% @customers.each do |customer| %>
     <li><%= link_to customer.id, customer %> : <%= customer.company %></li>
     <li><%= customer.phone %></li>
     <li><%= customer.server %></li>
     <li><%= customer.remark %></li>
  <% end %>
<% end %>

<%
=end
%>

