<style type="text/css">
.td_vertical_align_middle.td_vertical_align_middle {
  vertical-align: middle;
}
</style>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="#fa fa-search"></i> 会社情報</h3>
     </div>
       </div>

	<tbody>
 <% @customers.each do |customer| %>
	 <table class="table table-striped table-bordered" >
		<tr>
			 <td rowspan="10" class="col-md-1 td_vertical_align_middle" style="" align="center">
			  <%#= link_to customer.id, customer %>
     <% if can? :edit, @customer %>
        <%= link_to customer.id, customer %>
     <% else %>
        <%= customer.id %>
     <% end %>
			 </td>
			 <td class="col-md-1">会社名</td>
 			<td class="col-md-3"><%= customer.company %></td>
 			<td class="col-md-1">識別子</td>
 			<td class="col-md-2"><%= customer.vdc %></td>
 			<td class="col-md-1">契約日</td>
 			<td class="col-md-2"><%= customer.contractdate %></td>
		</tr>
		<tr>
			<td class="col-md-">監視プロダクト </td>
			<td "col-md-"><%= customer.server %></td>
			<td "col-md-">監視方法</td>
			<td><%= customer.monitoring %></td>
			<td "col-md-">解約日</td>
			<td><%= customer.cancellationdate %></td>
		</tr>
		<tr>
			<td>利用サービス</td>
			<td><%= customer.product %></td>
			<td>対応レベル</td>
			<td><%= customer.level %></td>
   <td>更新日</td>
   <td><%= customer.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
		</tr>
		<tr>
			<td>監視設定シート</td>
			<td colspan="7"><%= customer.sheet %></td>
		</tr>
		<tr>
			<td>監視提供時間</td>
			<td><%= customer.deliverytime %></td>
			<td>曜日</td>
			<td><%= customer.day %></td>
   <td colspan="4"></td>
		</tr>
		<tr>
			<td colspan="">営業時間内</td>
			<td>会社名</td>
			<td>部署名</td>
			<td>氏名</td>
   <td>Email</td>
   <td>電話番号</td>
		</tr>
		<tr>
			<td colspan="">1</td>
			<td><%= customer.company2 %></td>
			<td><%= customer.departmentname %></td>
			<td><%= customer.name %></td>
   <td><%= customer.email %></td>
   <td><%= customer.phone %></td>
		</tr>
		<tr>
			<td colspan="">2</td>
			<td><%= customer.company3 %></td>
			<td><%= customer.departmentname2 %></td>
			<td><%= customer.name2 %></td>
   <td><%= customer.email2 %></td>
   <td><%= customer.phone2 %></td>
		</tr>
		<tr>
			<td colspan="">3</td>
			<td><%= customer.company4 %></td>
			<td><%= customer.departmentname3 %></td>
			<td><%= customer.name3 %></td>
   <td><%= customer.email3 %></td>
   <td><%= customer.phone3 %></td>
		</tr>
		<tr>
			<td>備考</td>
			<td colspan="7"><%= customer.remark %></td>
		</tr>

	</table>
		</tbody>
	<% end %>
</div>


<div class="col-sm-12 row text-center">
<%= link_to "csv出力", csv_output_customers_path(customer_ids: @customers.pluck(:id), format: :csv) , class: 'btn btn-default btn-left' %>
<%= link_to "検索画面に戻る", customers_path , class: 'btn btn-default btn-left' %>
</div>

<% 
=begin 
%>

      <div class="panel-body">
       <%# if @customers %>
        <% @customers.each do |customer| %>
         <div class="row">
           <div class="col-sm-6">
               <!-- 会社名 -->
               <div class="form-group">
                <label class="col-sm-4 control-label" for="">会社名</label>
                <div class="col-sm-8"><%= link_to customer.id, customer %> : <%= customer.company %>
                </div>
               </div>
               
               <!-- 電話番号 -->
               <div class="form-group">
                <label class="col-sm-4 control-label" for="">電話番号</label>
                <div class="col-sm-8"><%= customer.phone %>
                </div>
               </div>
           </div>
           
           <div class="col-sm-6">
               <!-- サーバ -->
               <div class="form-group">
                <label class="col-sm-4 control-label" for="">サーバ</label>
                <div class="col-sm-8"><%= customer.server %>
                </div>
               </div>
             
               <!-- 備考 -->
               <div class="form-group">
                <label class="col-sm-4 control-label" for="">備考</label>
                <div class="col-sm-8"><%= customer.remark %>
                </div>
               </div>         
           </div>
          </div>
         <% end %>
       <%# end %>
      </div>
      
      <div class="col-sm-12 row text-center">
      <%= link_to "csv出力", csv_output_customers_path(customer_ids: @customers.pluck(:id), format: :csv) , class: 'btn btn-default btn-left' %>
      <%= link_to "検索画面に戻る", customers_path , class: 'btn btn-default btn-left' %>
      </div>

<%
=end
%>

<% 
=begin 
%>
<% if @customers %>
  <% @customers.each do |customer| %>
     <li><%= link_to customer.id, customer %> : <%= customer.company %></li>
     <li><%= customer.phone %></li>
     <li><%= customer.server %></li>
     <li><%= customer.remark %></li>
  <% end %>
<% end %>
<%
=end
%>




<% 
=begin 
%>
複数行コメント
<% if @customers %>
  <% @customers.each do |customer| %>
     <li><%= link_to customer.id, customer %> : <%= customer.company %></li>
     <li><%= customer.phone %></li>
     <li><%= customer.server %></li>
     <li><%= customer.remark %></li>
  <% end %>
<% end %>

<%
=end
%>

