<h1>id: <%= @customers.id %> の詳細ページ</h1>

<p><%= @customers.company %></p>
<p><%= @customers.phone %></p>
<p><%= @customers.server %></p>
<p><%= @customers.remark %></p>

<%= link_to "一覧に戻る", customers_path %>
<%= link_to "この登録内容を編集する", edit_customer_path(@customers) %>
<%= link_to "このメッセージを削除する", @customers, method: :delete, data: { confirm: "本当に削除してよろしいですか？" } %>

