<h1>id: <%= @customers.id %> の詳細ページ</h1>

<p><%= @customers.company %></p>
<p><%= @customers.phone %></p>
<p><%= @customers.server %></p>
<p><%= @customers.remark %></p>

<%= link_to "一覧に戻る", customers_path %>
